<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-12">
                <div class="card-header">
                    <h3 class="card-title">Business: <b>Car</b></h3>
                </div>
                <div class="card card-info">
                    <div id="DeptCarShiftA" class="chart text-center" style="height: 260px;">
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12">
                <div class="card-header">
                    <h3 class="card-title">&nbsp;</h3>
                </div>
                <div class="card card-info" id="cardCarShiftB">
                    <div id="DeptCarShiftB" class="chart text-center" style="height: 260px;">
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12">
                <div class="card-header">
                    <h3 class="card-title ml-3">Business: <b>Motorcycle</b></h3>
                </div>
                <div class="card card-info ml-3">
                    <div id="DeptMotorcycle" class="chart text-center" style="height: 260px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-12">
                <div class="card card-info">
                    <div id="GenderShiftA" class="chart text-center" style="height: 260px;">
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12">
                <div class="card card-info">
                    <div id="GenderShiftB" class="chart text-center" style="height: 260px;">
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12">
                <div class="card card-info ml-3">
                    <div id="GenderMotorcycle" class="chart text-center" style="height: 260px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-12">
                <div class="card card-info">
                    <div id="ContractShiftA" class="chart text-center" style="height: 260px;">
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12">
                <div class="card card-info">
                    <div id="ContractShiftB" class="chart text-center" style="height: 260px;">
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12">
                <div class="card card-info ml-3">
                    <div id="ContractMotorcycle" class="chart text-center" style="height: 260px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-12">
                <div class="card card-info">
                    <div id="AgeRange" class="chart text-center" style="height: 260px;">
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>

@section Scripts{
<script src="~/js/Chart/Manpower/Inside/BMW/DeptCarShiftA.js"></script>
<script src="~/js/Chart/Manpower/Inside/BMW/DeptCarShiftB.js"></script>
<script src="~/js/Chart/Manpower/Inside/BMW/DeptMotorcycle.js"></script>
<script src="~/js/Chart/Manpower/Inside/BMW/GenderShiftA.js"></script>
<script src="~/js/Chart/Manpower/Inside/BMW/GenderShiftB.js"></script>
<script src="~/js/Chart/Manpower/Inside/BMW/GenderMotorcycle.js"></script>
<script src="~/js/Chart/Manpower/Inside/BMW/ContractShiftA.js"></script>
<script src="~/js/Chart/Manpower/Inside/BMW/ContractShiftB.js"></script>
<script src="~/js/Chart/Manpower/Inside/BMW/ContractMotorcycle.js"></script>
<script src="~/js/Chart/Manpower/Inside/BMW/AgeRange.js"></script>


<script src="~/js/Chart/Manpower/Main/bmw.js"></script>
}