<nav class="main-header navbar navbar-expand navbar-white navbar-light">
  <!-- Left navbar links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <a id="updateAtt" href="#" class="nav-link"></a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <a href="#" id="success_status" style="font-weight: bold;" class="nav-link"></a>
    </li>
  </ul>

  <!-- Right navbar links -->
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <label class="nav-link">
        Date : &nbsp;<input id="dateSelect" maxlength="0" type="date" style="height: 20px;" />
      </label>
    </li>
    <li class="nav-item">
      <label class="nav-link">
        @HttpContextAccessor.HttpContext.Session.GetString("_Company")

        <input type="hidden" id="sesionCompany"
          value="@HttpContextAccessor.HttpContext.Session.GetString("_Company")" />
      </label>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/Intro/Login" role="button">
        <svg xmlns='http://www.w3.org/2000/svg' width="20" class='ionicon' viewBox='0 0 512 512'>
          <title style="color: red;">Log Out</title>
          <path
            d='M304 336v40a40 40 0 01-40 40H104a40 40 0 01-40-40V136a40 40 0 0140-40h152c22.09 0 48 17.91 48 40v40M368 336l80-80-80-80M176 256h256'
            fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='32' />
        </svg>Logout
      </a>
    </li>
    <li class="nav-item">
      <a id="fullscreen" class="nav-link" data-widget="fullscreen" href="#1" role="button">
        <i id="icon_fullscreen" class="fas fa-expand-arrows-alt"></i>
        @* fas fa-compress-arrows-alt *@

      </a>
    </li>
  </ul>
</nav>