<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Sidebar -->
    <div
        class="sidebar os-host os-theme-light os-host-overflow os-host-overflow-y os-host-resize-disabled os-host-scrollbar-horizontal-hidden os-host-transition">
        <div class="os-resize-observer-host observed">
            <div class="os-resize-observer" style="left: 0px; right: auto;"></div>
        </div>
        <div class="os-size-auto-observer observed" style="height: calc(100% + 1px); float: left;">
            <div class="os-resize-observer"></div>
        </div>
        <div class="os-content-glue" style="margin: 0px -8px; width: 249px; height: 678px;"></div>
        <div class="os-padding">
            <div class="os-viewport os-viewport-native-scrollbars-invisible" style="overflow-y: scroll;">
                <div class="os-content" style="padding: 0px 8px; height: 100%; width: 100%;">
                    <!-- Sidebar user panel (optional) -->
                    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                        <div class="image">
                            <img src="/theme/dist/img/logo_lpsb.png" class="img-circle elevation-2" alt="Logo">
                        </div>
                        <div class="info">
                            <a href="#" class="d-block">HR Dashboard</a>
                        </div>
                    </div>



                    <!-- Sidebar Menu -->
                    <nav class="mt-2">
                        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                            data-accordion="false">
                            <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->



                            <li id="li_man" class="nav-item">
                                <a id="menu_man" href="#" class="nav-link">
                                    <i class="nav-icon fas fa-user-tie"></i>
                                    <p>
                                        Manpower
                                        <i class="fas fa-angle-left right"></i>
                                    </p>
                                </a>
                                <ul id="block_man" class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a id="menu_manpower" href="/Manpower/LPS" class="nav-link">
                                            <i class="fas fa-arrow-circle-right nav-icon"></i>
                                            <p>แสดงกราฟ</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a id="menu_mantarget" href="/Manpower/Target" class="nav-link">
                                            <i class="fas fa-arrow-circle-right nav-icon"></i>
                                            <p>ขอกำลังคน</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a id="menu_att" href="/Attendance/LPS" class="nav-link">
                                    <i class="nav-icon fas fa-tachometer-alt"></i>
                                    <p>
                                        Attendance
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                            </li>
                            @if (@HttpContextAccessor.HttpContext.Session.GetString("_LevelID") == "2")
                            {
                                <li class="nav-item">
                                    <a id="menu_import" href="/Import/Index" class="nav-link">
                                        <i class="nav-icon fas fa-file-import"></i>
                                        <p>
                                            Import
                                            <i class="right fas fa-angle-left"></i>
                                        </p>
                                    </a>
                                </li>
                            }
                        </ul>
                    </nav>
                    <!-- /.sidebar-menu -->
                </div>
            </div>
        </div>
        <div class="os-scrollbar os-scrollbar-horizontal os-scrollbar-unusable os-scrollbar-auto-hidden">
            <div class="os-scrollbar-track">
                <div class="os-scrollbar-handle" style="width: 100%; transform: translate(0px, 0px);"></div>
            </div>
        </div>
        <div class="os-scrollbar os-scrollbar-vertical os-scrollbar-auto-hidden">
            <div class="os-scrollbar-track">
                <div class="os-scrollbar-handle" style="height: 59.6137%; transform: translate(0px, 0px);">
                </div>
            </div>
        </div>
        <div class="os-scrollbar-corner"></div>
    </div>
    <!-- /.sidebar -->
</aside>